@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Raleway:200,400|Roboto');

.project {
  font-family: Raleway;
  background: white;
  /* height: 80%; */
  min-height: 620px;
  min-width: 300px;
  width: 100%;
  position: relative;
  margin: auto;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}
.project-space{
  margin-top:150px;
}
.today{
  margin-left: 40%;
  color: white;
  font-size: 30px;
  margin-top: -220px;
  font-weight: 100;
}
.checked{
  background-color: #dd797e;
  margin-top: 180px;
  margin-bottom: -30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* height: 30px; */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.task {
  width: 100%;
  height: 250px;
}
.space {
  display: inline-flex;
  text-align: center;
  margin-left: 35%;
}
.add {
  margin-top: -70px;
  margin-left: 60px;
  background: #FF847C;
  height: 24px;
  margin-bottom: 60px;
}
.plus{
  width: 60px;
  height: 60px;
  background: #FF5722;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 50px;
}
.head {
  font-family: roboto;
  text-align: center;
  margin-bottom: 0px;
}
.box {
  height: 40px;
  top: 30px;
  position: relative;
  /* background-color: #3d182b; */
  margin: auto;
  /* margin-left: 10px; */
  /* margin-bottom: 12px; */
  font-weight: 100;
  padding: 5px;
  padding-top: 15px;
  margin-top: 5px;
  width: 90%;
}
.Error{
  width:100%;
}
.Message{
  font-family: Raleway;
  margin-left: 50px;
  margin-right: 50px;
}
.time{
  color: black;
}
.addButton {
  color: #ffffff;
  background: #FF847C;
  margin-top: 30px;
  font-size: 13px;
  font-family: Arial;
  padding: 9px 20px 9px 20px;
  border-radius: 12px;
  margin-bottom: 5px;
  margin-left: 35%;
}
.block {
  display: flex;
}
